@import 'bootstrap/dist/css/bootstrap.min.css';

body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/*           LANDING PAGE       */

.landing-format {

  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

.login-form {
  font-family:'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 18px;
  font-family:'Quicksand', sans-serif;
  font-weight: 600;
}

.login-form input{
  border: none;
  font-size: 13px;
  border-bottom: 1px solid #264653;
  width: 300px;
  margin-bottom: 20px;
}

.login-form button{
  font-family:'Quicksand', sans-serif;
  height:50px; 
  border-radius: 0px 20px;
  background-image: linear-gradient(to right, #264653 , #2a9d8f);
  border:none;
  color:white;
  font-weight:bold;
}

.create-account{
  font-family:'Quicksand', sans-serif;
  margin-top:30px;
  text-align: center;
  text-decoration: none;
  
  
}

.create-account-link{
  text-decoration: none;
  color: black;
}

.create-account-link:hover{
  color: green;
}






/*          SIGNUP PAGE         */

.signup-background {
  background-color:#264653;
  width: 500px;
  height: 520px;
  margin: 0 auto;
  margin-top: 30px;
 
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:20px;
}

.label{
  font-family:'Quicksand', sans-serif;
  font-size: 16px;
  color: white;
  display: block;
}


.signup-form input {
  font-family:'Quicksand', sans-serif;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  width: 300px;
  margin-bottom: 20px;
  color: lightgrey;
}

.signup-form button{
  font-family:'Quicksand', sans-serif;
  font-size: 14px;
  width: 100px;
  height:40px; 
  border-radius: 0px 20px;
  background-color: white;
  border:none;
  color:black;
  font-weight:bold;
}


.invalid,
.valid {
  align-items: center;
  
  /* background-color: #ffffff; */
  display: flex;
  margin: 1rem 0;
}

.signup-form .invalid,
.signup-form .valid {
  margin: 0;
  padding: 0rem 0rem 0.5rem;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.invalid::before,
.valid::before {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.25rem;
  color: white;
}

.invalid::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' fill='red' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 464c-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216zm94.8-285.3L281.5 256l69.3 69.3c4.7 4.7 4.7 12.3 0 17l-8.5 8.5c-4.7 4.7-12.3 4.7-17 0L256 281.5l-69.3 69.3c-4.7 4.7-12.3 4.7-17 0l-8.5-8.5c-4.7-4.7-4.7-12.3 0-17l69.3-69.3-69.3-69.3c-4.7-4.7-4.7-12.3 0-17l8.5-8.5c4.7-4.7 12.3-4.7 17 0l69.3 69.3 69.3-69.3c4.7-4.7 12.3-4.7 17 0l8.5 8.5c4.6 4.7 4.6 12.3 0 17z'/%3E%3C/svg%3E");
}

.valid::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' fill='green' d='M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z'/%3E%3C/svg%3E");
}

.valid-default{
  color:white
}

/*         NAVIGATION          */

.nav-bar {
display: flex;
justify-content: space-between;
background-color: #264653;
height: 9vh ;
align-items: center;
padding:10px 20px 0px 20px ;
color: white;
}

.menu-nav li{
  font-family:'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
  
 
}
.menu-nav li:hover{
  background-color: #2a9d8f;
  border-radius: 20px;
}

.nav-bar p{
  font-family:'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 600;
  display: inline-block; 
}

.user-menu p{
  font-family:'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 17px; 
  display: inline-block;
  padding-left: 10px;
}



/*              POSTS                   */

.posts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

}

.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
  height: 202px;
}

.card-btn{
  font-family:'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 600;
  border: none;
  width: 100px;
  border-radius: 20px;
  color: white;

  background-image: linear-gradient(to right, #264653 , #2a9d8f);


}






/*           SEARCH COMPO             */

.search-wrapper{
  display: flex;
  margin-top:50px;
  margin-bottom: 30px;
  justify-content: center;
  
}

.search-form{
  display: flex;
  justify-content: center;
  
  
}

.search-form input{
  font-family:'Quicksand', sans-serif;
  font-size: 14px;
  width: 300px;
  /* border-right: none; */
  border: 1px solid black;

}


.search-form button{
  font-family:'Quicksand', sans-serif;
  font-size: 12px;
  border: none;
 
}

.add-post{
  font-family:'Quicksand', sans-serif;
  font-size: 14px;
  border: none;
  margin-left: 20px;
}


/*                  CREATE A POST         */

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}

.create-form input {
  font-family:'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid green;
  background-color: transparent;
  width: 300px;
  margin-bottom: 20px;
  color: black;
}


.create-label{
  font-family:'Quicksand', sans-serif;
  font-size: 16px;
  color: black;
  display: block;
  font-weight: 600;
}

.create-form button{
  font-family:'Quicksand', sans-serif;
  width: 100px;
  height:50px; 
  border-radius: 0px 20px;
  background-image: linear-gradient(to right, #264653 , #2a9d8f);
  border:none;
  color:white;
  font-weight:bold;
}


/*                      EDIT POST              */

.edit-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-label {
  font-family:'Quicksand', sans-serif;
  font-size: 16px;
  color: black;
  display: block;
  font-weight: 600;
}

.edit-form input {
  font-family:'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid green;
  background-color: transparent;
  width: 300px;
  margin-bottom: 20px;
  color: black;
}

.submit-btn {
  font-family:'Quicksand', sans-serif;
  width: 100px;
  height:40px; 
  border-radius: 0px 20px;
  background-image: linear-gradient(to right, #264653 , #2a9d8f);
  border:none;
  color:white;
  font-weight:bold;
}

.delete-btn {
  font-family:'Quicksand', sans-serif;
  width: 100px;
  height:40px; 
  border-radius: 0px 20px;
  background-color: red;
  border:none;
  color:white;
  font-weight:bold;
}

.btn-block {
  display: flex;
  gap: 20px;
}



/*        ABOUT PAGE         */

.about-title{
  margin-top: 30px;
  margin-left: 30px;
  color: #264653;
  font-family:'Quicksand', sans-serif;
}
.about {
  color: #264653;
  text-align: center;
  font-family:'Quicksand', sans-serif;
}
.about-text{
  margin: 20px 190px;
  text-align: center;
  font-family:'Quicksand', sans-serif;
  font-size: 19px;
}
.about-image{
height: 60vh;
width: 100vw;

}

/*     Home      */
.search-button{
  font-family:'Quicksand', sans-serif;
  width: 70px;
  border-radius: 14px;
  background-image: linear-gradient(to right, #264653 , #2a9d8f);
  border:none;
  color:white;
  font-weight:bold;
  margin-left: 5px;
}
.search-input{
  border-radius: 6px;
  outline: none;
}
.add-post{
  font-family:'Quicksand', sans-serif;
  width: 80px;
  border-radius: 14px;
  background-image: linear-gradient(to right, #264653 , #2a9d8f);
  border:none;
  color:white;
  font-weight:bold;
  margin-left: 5px;
  padding: 4px;
}

.landing-title{
  font-family:'Quicksand', sans-serif;
}
.landing-text{
  font-family:'Quicksand', sans-serif;
}

@media (max-width: 678px) {
  .menu-nav li {
    display: none;
    justify-content: space-between;
    padding: 2px;
  }
  .search-form {
  width: 50%;
  height: 25px;
  }
  .add-post{
    width: 60px;
  }
  .user-menu{
    display: none;
  }
}


@media (max-width: 480px) {
  .add-post {
    display: none;
  }
}
.app-title{
  color: white
}
.welcome{
  font-weight: bold;
}