@import 'bootstrap/dist/css/bootstrap.min.css';

body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/*           LANDING PAGE       */

.landing-format {

  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

.login-form {
  font-family:'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 18px;
  font-family:'Quicksand', sans-serif;
  font-weight: 600;
}

.login-form input{
  border: none;
  font-size: 13px;
  border-bottom: 1px solid #264653;
  width: 300px;
  margin-bottom: 20px;
}

.login-form button{
  font-family:'Quicksand', sans-serif;
  height:50px; 
  border-radius: 0px 20px;
  background-image: linear-gradient(to right, #264653 , #2a9d8f);
  border:none;
  color:white;
  font-weight:bold;
}

.create-account{
  font-family:'Quicksand', sans-serif;
  margin-top:30px;
  text-align: center;
  text-decoration: none;
  
  
}

.create-account-link{
  text-decoration: none;
  color: black;
}

.create-account-link:hover{
  color: green;
}






/*          SIGNUP PAGE         */

.signup-background {
  background-color:#264653;
  width: 500px;
  height: 520px;
  margin: 0 auto;
  margin-top: 30px;
 
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:20px;
}

.label{
  font-family:'Quicksand', sans-serif;
  font-size: 16px;
  color: white;
  display: block;
}


.signup-form input {
  font-family:'Quicksand', sans-serif;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  width: 300px;
  margin-bottom: 20px;
  color: lightgrey;
}

.signup-form button{
  font-family:'Quicksand', sans-serif;
  font-size: 14px;
  width: 100px;
  height:40px; 
  border-radius: 0px 20px;
  background-color: white;
  border:none;
  color:black;
  font-weight:bold;
}

/*         NAVIGATION          */

.nav-bar {
display: flex;
justify-content: space-between;
background-color: #264653;
height: 9vh ;
align-items: center;
padding:10px 20px 0px 20px ;
color: white;
}

.menu-nav li{
  font-family:'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
  
 
}
.menu-nav li:hover{
  background-color: #2a9d8f;
  border-radius: 20px;
}

.nav-bar p{
  font-family:'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 600;
  display: inline-block; 
}

.user-menu p{
  font-family:'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 17px; 
  display: inline-block;
  padding-left: 10px;
}



/*              POSTS                   */

.posts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

}

.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
  height: 202px;
}

.card-btn{
  font-family:'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 600;
  border: none;
  width: 100px;
  border-radius: 20px;
  color: white;

  background-image: linear-gradient(to right, #264653 , #2a9d8f);


}






/*           SEARCH COMPO             */

.search-wrapper{
  display: flex;
  margin-top:50px;
  margin-bottom: 30px;
  justify-content: center;
  
}

.search-form{
  display: flex;
  justify-content: center;
  
  
}

.search-form input{
  font-family:'Quicksand', sans-serif;
  font-size: 14px;
  width: 300px;
  /* border-right: none; */
  border: 1px solid black;

}


.search-form button{
  font-family:'Quicksand', sans-serif;
  font-size: 12px;
  border: none;
 
}

.add-post{
  font-family:'Quicksand', sans-serif;
  font-size: 14px;
  border: none;
  margin-left: 20px;
}


/*                  CREATE A POST         */

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}

.create-form input {
  font-family:'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid green;
  background-color: transparent;
  width: 300px;
  margin-bottom: 20px;
  color: black;
}


.create-label{
  font-family:'Quicksand', sans-serif;
  font-size: 16px;
  color: black;
  display: block;
  font-weight: 600;
}

.create-form button{
  font-family:'Quicksand', sans-serif;
  width: 100px;
  height:50px; 
  border-radius: 0px 20px;
  background-image: linear-gradient(to right, #264653 , #2a9d8f);
  border:none;
  color:white;
  font-weight:bold;
}


/*                      EDIT POST              */

.edit-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-label {
  font-family:'Quicksand', sans-serif;
  font-size: 16px;
  color: black;
  display: block;
  font-weight: 600;
}

.edit-form input {
  font-family:'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid green;
  background-color: transparent;
  width: 300px;
  margin-bottom: 20px;
  color: black;
}

.submit-btn {
  font-family:'Quicksand', sans-serif;
  width: 100px;
  height:40px; 
  border-radius: 0px 20px;
  background-image: linear-gradient(to right, #264653 , #2a9d8f);
  border:none;
  color:white;
  font-weight:bold;
}

.delete-btn {
  font-family:'Quicksand', sans-serif;
  width: 100px;
  height:40px; 
  border-radius: 0px 20px;
  background-color: red;
  border:none;
  color:white;
  font-weight:bold;
}

.btn-block {
  display: flex;
  gap: 20px;
}



/*        ABOUT PAGE         */

.about-title{
  margin-top: 30px;
  margin-left: 30px;
  color: #264653;
  font-family:'Quicksand', sans-serif;
}
.about {
  color: #264653;
  text-align: center;
  font-family:'Quicksand', sans-serif;
}
.about-text{
  margin: 20px 190px;
  text-align: center;
  font-family:'Quicksand', sans-serif;
  font-size: 19px;
}
.about-image{
height: 60vh;
width: 100vw;

}

/*     Home      */
.search-button{
  font-family:'Quicksand', sans-serif;
  width: 70px;
  border-radius: 14px;
  background-image: linear-gradient(to right, #264653 , #2a9d8f);
  border:none;
  color:white;
  font-weight:bold;
  margin-left: 5px;
}
.search-input{
  border-radius: 6px;
  outline: none;
}
.add-post{
  font-family:'Quicksand', sans-serif;
  width: 80px;
  border-radius: 14px;
  background-image: linear-gradient(to right, #264653 , #2a9d8f);
  border:none;
  color:white;
  font-weight:bold;
  margin-left: 5px;
  padding: 4px;
}

.landing-title{
  font-family:'Quicksand', sans-serif;
}
.landing-text{
  font-family:'Quicksand', sans-serif;
}

@media (max-width: 678px) {
  .menu-nav li {
    display: flex;
    justify-content: space-between;
    padding: 2px;
  }
}
.app-title{
  color: white
}