@import 'bootstrap/dist/css/bootstrap.min.css';

body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/*           LANDING PAGE       */
.landing-format {

  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

.login-form {
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 600;
}

.login-form input{
  border: none;
  font-size: 13px;
  border-bottom: 1px solid #264653;
  width: 300px;
  margin-bottom: 20px;
}

.login-form button{
  font-family: 'Open Sans';
  height:50px; 
  border-radius: 0px 20px;
  background-image: linear-gradient(to right, #264653 , #2a9d8f);
  border:none;
  color:white;
  font-weight:bold;
}

.create-account{
  font-family: 'Open Sans';
  margin-top:30px;
  text-align: center;
  text-decoration: none;
  
  
}

.create-account-link{
  text-decoration: none;
  color: black;
}

.create-account-link:hover{
  color: green;
}






/*          SIGNUP PAGE         */

.signup-background {
  background-color:#264653;
  width: 500px;
  height: 520px;
  margin: 0 auto;
  margin-top: 30px;
 
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:20px;
}

.label{
  font-family: 'open sans';
  font-size: 16px;
  color: white;
  display: block;
}


.signup-form input {
  font-family: 'open sans';
  font-size: 13px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  width: 300px;
  margin-bottom: 20px;
  color: lightgrey;
}

.signup-form button{
  font-family: 'Open Sans';
  font-size: 14px;
  width: 100px;
  height:40px; 
  border-radius: 0px 20px;
  background-color: white;
  border:none;
  color:black;
  font-weight:bold;
}

/*         NAVIGATION          */
.nav-bar {
display: flex;
justify-content: space-between;
}

.menu-nav li{
  display: inline-block;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

.user-menu p{
  display: inline-block;
  padding-left: 10px;
}



/*              POSTS                   */
.posts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

}

.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
  height: 202px;
}


